.nav_bar {
    border-bottom: 1px solid Navy Blue;
}

.nav_bar a {
    font-size: 20px;
    text-decoration: Yellow;
    color: Navy Blue;
}

#Aonee McDonald Portfolio {
    font-size: 3.5rem;
}

.homepage_project_image {
    max-width: 700px;
    height: 30vh;
}
.AoneeMcDonald_Glitch_no3  {
    text-align: center;
}

.project_card_about {
    text-align: center;
}

.project_page_description {
    margin-top: 1%;
}
#title_name {
  color: Navy Blue;
}
#title_name{
  font-family: "League Gothic";
}
